{% extends "oscar/layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block title %}
    {{ product.get_title  }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
{% include "oscar/partials/breadcrumb.html" %}
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

<!-- Single Products Section Start -->
    <div class="section section-padding border-bottom">
        <div class="container">
            <div class="row learts-mb-n40">
            {% include "oscar/catalogue/partials/gallery.html" %}

                <!-- Product Summery Start -->
                <div class="col-lg-6 col-12 learts-mb-40">
                    <div class="product-summery">
                      <div class="rating">
                           {% include "oscar/catalogue/reviews/partials/review_stars.html" %}
                        </div>
                        <h3 class="product-title">{{ product.get_title }}</h3>
                      {% block product_stock_record %}
                        {% include "oscar/catalogue/partials/stock_record.html" with verbose=1 %}
                      {% endblock %}
                        {% block product_description %}
                        {% if product.description %}
                        <div class="product-description">
<!--                          <h6>{% trans "Product Description" %}</h6>-->
                            <p>{{ product.description|safe }}</p>
                        </div>
                        {% endif %}
                        {% endblock %}
                      <div class="product-variations">
                            <table>
                                <tbody>
                                {% for av in product.get_attribute_values %}
                                    <tr>
                                        <td class="label"><span>{{ av.attribute.name }}</span></td>
                                        <td class="value">
                                            <div class="product-sizes">
                                                <a href="#">{{ av.value_as_html }}</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                      </div>
                        <div class="product-buttons">
                          {% include "oscar/catalogue/partials/add_wishlist.html" %}
                          {% include "oscar/catalogue/partials/add_to_cart.html" %}
                        </div>

                        <div class="product-meta">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="label"><span>{% trans "UPC" %}</span></td>
                                        <td class="value">{{ product.upc }}</td>
                                    </tr>
                                    <tr>
                                      {% with category=product.categories.all.0 %}

                                        <td class="label"><span>Category</span></td>
                                        <td class="value">
                                            <ul class="product-category">
                                              {% for c in category.get_ancestors_and_self %}
                                                <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                                              {% endfor %}
                                            </ul>
                                        </td>
                                      {% endwith %}
                                    </tr>
                                    <tr>
                                        <td class="label"><span>{{ product.get_meta_title }}</span></td>
                                        <td class="value">
                                            <ul class="product-tags">
                                                <li>{{ product.get_meta_description }}</li>

                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label"><span>Share on</span></td>
                                        <td class="va">
                                            <div class="product-share">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                                <a href="#"><i class="fab fa-pinterest"></i></a>
                                                <a href="#"><i class="fa fa-envelope"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Product Summery End -->

            </div>
        </div>

    </div>
    <!-- Single Products Section End -->

    <!-- Single Products Information Section Start -->
    <div class="section section-padding border-bottom">
        <div class="container">

            <ul class="nav product-info-tab-list">
                <li><a class="active" data-bs-toggle="tab" href="#tab-description">Description</a></li>
                <li><a data-bs-toggle="tab" href="#tab-pwb_tab">Brand</a></li>
                <li><a data-bs-toggle="tab" href="#tab-additional_information">Additional information</a></li>
                <li><a data-bs-toggle="tab" href="#tab-reviews">Reviews ({{ product.num_approved_reviews }})</a></li>
            </ul>
            <div class="tab-content product-infor-tab-content">
                <div class="tab-pane fade show active" id="tab-description">
                    <div class="row">
                        <div class="col-lg-10 col-12 mx-auto">
                            <p>{{ product.description|safe }}</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-pwb_tab">
                    <div class="row learts-mb-n30">

                        <div class="col-12 learts-mb-30">
                            <div class="row learts-mb-n10">
                                <div class="col-lg-2 col-md-3 col-12 learts-mb-10"><img
                                        src="assets/images/brands/brand-8.webp" alt=""></div>
                                <div class="col learts-mb-10">
                                    <p>Prior to Houdini, there have been many clothing brands that achieved such a
                                        roaring success. However, there’s no other brand that can obtain such a precious
                                        position like us. We have successfully built our site to make more people know
                                        about our products as well as our motto. We’ve been the inspiration for many
                                        other small and medium-sized businesses.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-additional_information">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 col-12 mx-auto">
                            {% include "oscar/catalogue/partials/product_variations.html" %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-reviews">

                {% include "oscar/catalogue/reviews/review_section.html" %}
                </div>
            </div>

        </div>
    </div>
    <!-- Single Products Information Section End -->

<section style="width: max-content;" class="p-5">

  {% block product_review %}

  {% endblock product_review %}
</section>

<section>
  {% include "oscar/catalogue/partials/product_recommended.html" %}

</section>
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
