{% load static %}

{% load i18n %}
{% load image_tags %}
{% block Custom_links %}
<link rel="stylesheet" href="{% static 'css/carousel.css' %}" />
{% endblock %}
{% with all_images=product.get_all_images %}
    {# use length rather then count as the images get queried anyways #}

    {% if all_images|length >= 1 %}
<hr>
                <div class="col-lg-6 col-12 learts-mb-40">
                    <div class="product-images">

                      <div class="product-gallery-slider slick-initialized slick-slider slick-dotted"><button
                                class="slick-prev slick-arrow" style=""></button>
                           {% with image=product.primary_image %}
                        {% oscar_thumbnail image.original "440x400" upscale=False as thumb %}
                                <img id=featured src="{{ thumb.url }}" class="w-75 thumbnail active mx-auto d-flex"  >
                          {% endwith %}
                        </div>
                        <div class="product-thumb-slider slick-initialized slick-slider">
                            <div class="slick-list draggable">
                                <div class="slick-track"
                                    style="opacity: 1; width: 400px; transform: translate3d(0px, 0px, 0px);">
                                  <div class="owl-carousel owl-theme">
                                  {% for image in all_images %}
                                      <div class="item">
                                          {% oscar_thumbnail image.original "440x400" upscale=False as thumb %}
                                        <img src="{{ thumb.url }}" alt="" class="thumbnail active" >
                                      </div>
                                  {% endfor %}
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Images End -->
    {% endif %}
{% endwith %}

{% block carousel_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}
