{% load display_tags %}
{% load i18n %}
{% load image_tags %}
{% load reviews_tags %}
{% load static %}
{% block product %}
<div class="col mt-5 product-lm">
    <div class="product">

        <div class="product-thumb">
           {% block product_image %}
            <a href="{{ product.get_absolute_url }}" class="image ">
                <span class="product-badges">
                    <span class="onsale">-13%</span>
                </span>
              {% with image=product.primary_image %}
                    {% oscar_thumbnail image.original "440x400"  upscale=False as thumb %}
                <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="w-100">
                <img class="image-hover" src="{{ thumb.url }}" alt="{{ product.get_title }}" class="w-100">

            </a>
          {% endwith %}
          {% endblock %}
          <form action="{% url 'customer:wishlists-add-product' product_pk=product.pk %}" method="post">
            {% csrf_token %}
            <button class="add-to-wishlist hintT-left" data-hint="Add to Wishlist">
              <i class="far fa-heart"></i>
            </button>
           </form>

        </div>

        <div class="product-info">
          {% block product_title %}
            <h6 class="title"><a href="{{ product.get_absolute_url }}"> {{ product.get_title|truncatewords:4 }}</a></h6>
          {% endblock %}
            <span class="price">
                {% include "oscar/catalogue/partials/product_price_section.html" %}
            </span>
            <div class="product-buttons">
                {% if not product.is_parent and not product.has_options %}
                   {% include "oscar/catalogue/partials/add_to_cart.html" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
