{% if messages %}
  {% for message in messages %}
<div class="container-fluid p-0 " id="success-alert">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" class="close"><a onClick="window.location.reload()">&times;</a></span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}
<script>
  $("#success-alert").fadeTo(3000, 500).slideUp(600, function(){
    $("#success-alert").slideUp(600);
});
</script>
