  <!-- Header Tools Start -->
              <div class="col-auto">
                  <div class="header-tools justify-content-end">
                    <div class="col-auto d-none d-xl-block">
                    {% include "oscar/partials/search.html" %}
                </div>
                      <div class="header-login">
                        <a class="nav-link p-0"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'customer:summary' %}">Profile</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'customer:logout' %}"><i class="fas fa-sign-out-alt mr-2"></i>Log Out</a>
                            {% else %}
                            <a id="login_link" href="{% url 'customer:login' %}" class="nav-link"> <i class="fas fa-sign-in-alt mr-2"></i>
                            Login or Register</a>
                            {% endif %}
                          </div>
                      </div>

                      <div class="header-wishlist">
                          <a href="{% url 'customer:wishlists-list'%}" class="offcanvas-toggle"><span class="wishlist-count">3</span><i class="fa fa-heart"></i></a>
                      </div>
                      <div class="header-cart">
                          <a class="offcanvas-toggle" href="{% url 'basket:summary' %}"><span class="cart-count">3</span><i class="fa fa-shopping-cart"></i></a>
                      </div>
                      <div class="mobile-menu-toggle d-xl-none">
                          <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
                              <svg viewBox="0 0 800 600">
                                  <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" class="top"></path>
                                  <path d="M300,320 L540,320" class="middle"></path>
                                  <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" class="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                              </svg>
                          </a>
                      </div>
                  </div>
              </div>
            <!-- Header Tools End -->
